# Azure Developer CLI
.azure/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!*.tfvars.json.example
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment variables
.env
.env.local

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
logs/
